<div class="rounded shadow bg-white p-5">
  <div class="row">
    <div class="col-12 d-flex">
      <h2 class="font-weight-light">
        <i class="fas fa-home"></i>Biens immobiliers
      </h2>
      <button type="button" class="btn btn-primary ml-auto" data-toggle="modal" data-target="#propertiesFormModal" (click)="resetForm()">
        <i class="fas fa-plus"></i>Ajouter un bien
      </button>
    </div>
  </div>
  <hr class="mt-1 mb-5 bg-dark" />
  <div class="row">
    <div *ngFor="let property of properties"  class="col-12 shadow-sm p-4 mb-3 bg-light">
      <div class="d-flex">
        <h3 class="font-weight-normal">{{ property.title }}</h3>
        <div class="ml-auto">
          <button class="btn btn-primary m-1" type="button" (click)="onEditProperty(property)"><i class="fas fa-edit"></i></button>
          <button class="btn btn-danger m-1" type="button" (click)="onDeleteProperty(property)"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      <p>
          {{ property.category }}<span *ngIf="property.surface"> de {{ property.surface }} m²</span><span *ngIf="property.rooms">, {{ property.rooms }} pièce(s)</span>
      </p>
      <p *ngIf="property.price && property.price !== 0">
        {{ property.price }} €
      </p>
      <p>
        <span class="text-danger" *ngIf="property.forSale">A vendre</span>
        <span class="text-success" *ngIf="!property.forSale">Vendu!</span>
      </p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="propertiesFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="propertiesForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edition d'un bien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="titre" formControlName="title"/>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Catégorie</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" formControlName="category">
              <option value="Appartement">Appartement</option>
              <option value="Maison">Maison</option>
            </select>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input type="text" class="form-control" placeholder="Surface (m²)" formControlName="surface"/>
            </div>
            <div class="form-group col-6">
              <input type="text" class="form-control" placeholder="Nombre de pièces" formControlName="rooms"/>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control w-100" rows="4" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Prix" formControlName="price"/>
          </div>
        </div>
        <div class="form-raw">
          <div class="col-9">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="onUpLoadFile($event)">
                <label class="custom-file-label" for="inputGroupFile01">Envoyer une image</label>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="spinner-border text-primary" *ngIf="photoLoading" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="forSale">
          <label class="custom-control-label" for="customSwitch1">
            <span class="text-success" *ngIf="!propertiesForm.value.forSale">Vendu</span>
            <span class="text-danger" *ngIf="propertiesForm.value.forSale">A Vendre</span>
          </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Annuler
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="propertiesForm.invalid">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Property Modal -->
<div class="modal fade" id="deletePropertyModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Supprimer ce bien ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancelDelete()" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="onConfirmDelete()">Supprimer</button>
      </div>
    </div>
  </div>
</div>
