<div class="container">
  <h1 class="display-4">Nos biens immobiliers</h1>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let property of getProperties()">
      <div class="card h-100" style="width: 18rem">
        <div *ngFor="let photo of property.photos;first as isFirst">
          <img [src]="photo" *ngIf="isFirst" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ property.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ property.category }}</h6>
          <p class="card-text">
            {{ property.category }}<span *ngIf="property.surface"> de {{ property.surface }} m²</span><span *ngIf="property.rooms">, {{ property.rooms }} pièce(s)</span>
          </p>
          <p *ngIf="property.price && property.price !== 0">
            {{ property.price }} €
          </p>
          <p [ngStyle]="{ color: getColorForSaleText(property) }">
            <span *ngIf="property.forSale">A vendre</span>
            <span *ngIf="!property.forSale">Vendu!</span>
          </p>
          <div class="text-center">
            <button class="btn btn-primary" type="button" (click)="onViewProperty(property)">Voir ce bien</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
